@page "/CreateTeam"
<h3>CreateTeam</h3>

@code {
    /*
     * Team Name
     * Select Team Members
     * Add New Member
     * Mini Form to create member firstname, lastname, email + cellphone and create member button
     * team's player list
     * delete selected button
     * create team
     */
}