@page "/CreateTournament"
<h3>CreateTournament</h3>

@code {
    /*
     * Tournament Name
     * Entry fee
     * Select Team or Create New Team
     * Add Team
     * Create Prize
     * List of tournament players/teams
     * List of prizes
     * Delete Selected Players Button
     * Delete Selected Prize Button
     * Create Tournament Button
     */
}